NEXT_PUBLIC_SITE_URL=https://zee-plumbing-world.com
NEXT_PUBLIC_GA_ID=
RESEND_API_KEY=
QUOTE_FROM_EMAIL="Zee Plumbing World <quotes@zee-plumbing-world.com>"
QUOTE_TO_EMAIL="quotes@zee-plumbing-world.com"
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
